<<<<<<< HEAD
body

=======
>>>>>>> origin/master
article h1,
article h2,
article h3,
article p,
article ul,
<<<<<<< HEAD
blockquote {
=======
article blockquote {
>>>>>>> origin/master
  width: 700px;
  margin: 0 auto;
}

article h1,
article h2,
article h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

article h1 {
  margin-top: 66px;
  font-size: 38px;
  line-height: 44px;
}

article h1 + p {
  margin-top: 15px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, .4);
}

article h1 + p + p {
  margin-top: 31px;
}

article p,
article li,
article blockquote {
  font-size: 20px;
  line-height: 34px;
}

article p,
article ul,
article blockquote {
  margin-top: 29px;
}

article h2 {
  margin-top: 43px;
  font-size: 31px;
  line-height: 36px;
}

article h2 + p,
article h3 + p {
  margin-top: 7px;
}

article h2 + h3 {
  margin-top: 37px;
}

article h3 {
  margin-top: 35px;
  font-size: 27px;
  line-height: 34px;
}

<<<<<<< HEAD
article ul {
  list-style-type: disc;
}

=======
>>>>>>> origin/master
article li {
  margin-top: 17px;
}

article blockquote {
  font-style: italic;
}

article img {
  display: block;
  width: 1020px;
  margin: 80px auto;
}

article img + h2 {
  margin-top: -1px;
}

article img + p,
<<<<<<< HEAD
img + blockquote,
img + ul {
=======
article img + blockquote,
article img + ul {
>>>>>>> origin/master
  margin-top: -3px;
}

article h2 + img {
  margin-top: 82px;
}

article h3 + img {
  margin-top: 81px;
}
