<<<<<<< HEAD
nav {
  position: fixed;
  top: 50px;
  left: 50px;
}

nav > ul > li:first-child {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 9px;
  font-weight: bold;
  line-height: 10px;
  
=======
a {
text-decoration: none;

}
nav {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 300px;
  padding: 13px 30px 30px;
  font-size: 14px;
  line-height: 15px;
  color: rgba(0,0,0,.8);
  opacity: .1;
  transition: all .3s ease-in-out;
}

nav > ul > li:first-child {
font-weight: bold;
}

nav * ul {
  padding-left: 10px;
  color: (0,0,0,.4)
}

nav:hover {
  opacity: 1;
>>>>>>> origin/master
}
