nav {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 300px;
  padding: 25px 30px 30px;
  background: rgba(255, 0, 0, 0.5);
  font-size: 14px;
  line-height: 15px;
}

nav li:first-child {
font-weight: bold;
}
